TestData/
.venv/
*egg-info
__pycache__

.aider*
*.parquet
*.gpkg

test-data/
stac/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
