affine
aiobotocore
aiodns
aiohttp
aiohttp-client-cache
aioitertools
aiosignal
aiosqlite
asciitree
async-retriever
async-timeout
attrs
boto3
botocore
branca
brotli
cattrs
certifi
cffi
cftime
charset-normalizer
click
click-plugins
cligj
cloudpickle
contourpy
cycler
cytoolz
dask
defusedxml
exceptiongroup
fasteners
fiona
folium
fonttools
frozenlist
fsspec
gdal==3.4.1
geopandas
git-filter-repo
h5netcdf
h5py
hydrosignatures
idna
importlib-metadata
itsdangerous
jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
locket
lxml
markupsafe
matplotlib
multidict
netcdf4
networkx
numcodecs
numpy==1.26.4
owslib
packaging
pandas
partd
pillow
pip
platformdirs
py3dep
pyarrow
pycares
pycparser
pydaymet
pygeohydro
pygeoogc
pygeoutils
pygridmet
pynhd
pynldas2
pyogrio
pyparsing
pyproj
pystac
python-dateutil
pytz
pyyaml
rasterio
referencing
requests
requests-cache
rioxarray
rpds-py
s3fs
s3transfer
scipy
setuptools
shapely
six
snuggs
toolz
typing-extensions
tzdata
ujson
url-normalize
urllib3
wrapt
xarray
xyzservices
yarl
zarr
zipp
